<h2 mat-dialog-title>Change Document Status</h2>
<mat-dialog-content>
  <div class="info">
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon fontSet="material-icons-outlined">
          article
        </mat-icon>
        <div matListItemLine><code>Name:</code> {{ data.document.name }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon fontSet="material-icons-outlined">
          account_circle
        </mat-icon>
        <div matListItemLine>
          <code>Creator:</code> {{ data.document.creatorEmail }}
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon fontSet="material-icons-outlined">
          verified
        </mat-icon>
        <div matListItemLine>
          <code>Current Status:</code> {{ data.document.status }}
        </div>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </div>
  <div class="buttons">
    <button
      mat-raised-button
      class="error"
      [disabled]="isLoading()"
      (click)="onStatusSelected('DECLINED')"
    >
      Decline
    </button>
    <button
      mat-raised-button
      class="warn"
      [disabled]="isLoading()"
      (click)="onStatusSelected('UNDER_REVIEW')"
    >
      Take for review
    </button>
    <button
      mat-flat-button
      [disabled]="isLoading()"
      (click)="onStatusSelected('APPROVED')"
    >
      Approve
    </button>
  </div>
</mat-dialog-content>
<mat-progress-bar *ngIf="isLoading()" mode="indeterminate"></mat-progress-bar>
<mat-dialog-actions align="start">
  <button mat-button mat-dialog-close [disabled]="isLoading()">Cancel</button>
</mat-dialog-actions>
