<mat-toolbar>
  <button
    mat-mini-fab
    [disabled]="!isAuthenticated()"
    (click)="navigateHome()"
    matTooltip="Go to dashboard"
  >
    <mat-icon fontSet="material-icons-outlined">home</mat-icon>
  </button>
  <button
    mat-mini-fab
    class="warn"
    [disabled]="!isAuthenticated()"
    (click)="logout()"
    matTooltip="Log out"
  >
    <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
